.todo-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
}
.todo-list div{
    /* display: flex;
    justify-content: space-between; */
    width: 100%;
    min-width: 300px;
    gap: 10px;
}

.todo-list button{
    padding: 5px 20px;
    border-radius: 3px;
    background-color: antiquewhite;
    color: #000;
}

.close{
    color: gray;
    text-decoration: line-through;
}