.todo-add{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.todo-add input{
    width: 100%;
    max-width: 300px;
    border-radius: 3px;
}

.todo-add button {
    padding: 5px 20px;
    border-radius: 3px;
    background-color: cadetblue;
    color: #FFF;
    font-weight: 500;
}